@import-normalize;

.friendList {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    padding: 0;
    margin-top: 2px;
    gap: 5px;
}
.item {
    list-style: none;
    display: flex;
    justify-content: left;
    align-items: center;
    width: 100%;
    gap: 20px;
    background-color: #91a7ff96;
    border: 1px solid #91a7ff96;
    box-sizing: border-box;
    border-radius: 5px;
    padding: 10px;
}

.online {
    background-color: greenyellow;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
}
.ofline {
    background-color: gray;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    display: block;
}