@import-normalize;

.statistics {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    margin-right: auto;
    flex-direction: column;
    border: 1px solid grey;
    width: 350px;
    box-sizing: border-box;
    border-radius: 5px;
    margin-top: 5px;
}
.statList {
    display: flex;
    width: 100%;
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    border-radius: 5px;

}
.item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid grey;
    padding-top: 20px;
    padding-bottom: 20px;
    list-style: none;
    width: 100%;
}